*{
    box-sizing:border-box;
}
.flex-container{
    display:flex;
    flex-direction: row;
    font-size: 50px;
    text-align: center;
}
.flex-item-left{
    background-color: #ea8a8a;
    padding: 10px;
    flex: 50%;
}
.flex-item-right{
    background-color: #94c0ec;
    padding: 10px;
    flex: 50%;
}
/* Responsive layout*/
@media (max-width:500px) {
    .flex-container{
        flex-direction: column;
    }
}